.img-main{
    background-image: url(./img/img-first.svg);
}

main section.section-bg-color{
    background-color:  linear-gradient(174.4deg,
    #28272C 4.79%, #451D66 24.24%, rgba(76,
    0, 199, 0.87) 52.7%, #000000 95.39%) !important;
    width: 100%;
    height: 300px;
}


@media(min-width:768px){
    .style-nav{
        font-size: 12px;
    }
}